ClearMap/Resources/Atlas/ABA_25um_annotation_3_1_2__slice_None_None_None__slice_None_None_None__slice_100_326_None__.tif
ClearMap/Resources/Atlas/ABA_25um_distance_to_surface_3_1_2__slice_None_None_None__slice_None_None_None__slice_100_326_None__.tif
ClearMap/Resources/Atlas/ABA_25um_reference_3_1_2__slice_None_None_None__slice_None_None_None__slice_100_326_None__.tif
